[submodule "src/vendor/naf"]
	path = src/vendor/naf
	url = https://github.com/SellswordSoftware/naf.git
[submodule "src/vendor/nass"]
	path = src/vendor/nass
	url = https://github.com/SellswordSoftware/nass.git
